/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Headings */
h1, h2 {
    text-align: center;
    color: #444;
    margin-top: 20px;
  }
  
h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: normal;
  }
  
  /* Map Container */
  #map {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  /* Charts Container */
  .charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Description Paragraph Styling */
  .description {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.2em;
    color: #555;
    width: 90%;
    max-width: 800px;
  }
  
  /* Charts Row Styling */
  .charts-row {
    display: flex; /* Display charts in a row */
    justify-content: space-around; /* Space out the charts */
    width: 90%;
    max-width: 1200px; /* Optional: limit width of the row */
    margin: 20px auto; /* Center the row */
  }


/* Pie Charts Container */
.pie-charts-container {
display: flex; /* Use flexbox to arrange the charts in a row */
flex-wrap: nowrap; /* Prevent charts from wrapping to the next line */
justify-content: space-between; /* Evenly distribute the charts */
width: 100%; /* Set width to 100% to match the map's container */
max-width: 150px; /* Limit the maximum width of the container */
margin: 20px auto; /* Center the container */
}

.pie-charts {
display: flex; /* Use flexbox for the inner container of pie charts */
flex-wrap: nowrap; /* Prevent wrapping */
justify-content: space-around; /* Space out the charts */
width: 100%; /* Full width of the parent */
}

.pie-charts-container > div {
flex: 0 0 18%; /* Set a fixed width for each pie chart (adjust percentage as needed) */
margin: 10px; /* Add margin around each chart */
padding: 20px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#donut {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  
  /* Individual Chart Styling */
  #line_chart, #bar_chart {
    flex: 1; /* Allow both charts to grow and fill space equally */
    margin: 0 10px; /* Add horizontal margin between charts */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }



      
  